DATABASE_URL=database_url_with_credentials
DIRECT_URL=databsese_url_with_credentials
JWT_SECRET=jwt_secret_key
JWT_REFRESH_SECRET=jwt_refresh_secret_key
PORT=5000
NODE_ENV=development
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_SECURE=false
EMAIL_USER=your_smtp_username
EMAIL_PASS=your_smtp_password
EMAIL_FROM=LibraIQ Library <noreply@libraiq.com>
FINE_RATE_STANDARD=5
FINE_CAP=200
FINE_GRACE_DAYS=0
FRONTEND_URL=http://localhost:3000